<article class="blog-entry">
	<a class="wrapper" href='<%- url_for(post.path) %>'>
	    <div class="divider"></div>
        <h3 class="title"><%= post.title %></h3>
        <% if (post.excerpt) { %>
            <div class="excerpt">
                <%- post.excerpt %><%- post.excerpt.endsWith('.') ? '..' : '...' %>
            </div>
        <% } %>
        <div class="categories">
            <% post.categories.forEach((category) => { %>
                <%- partial('partials/blog-category', { category }) %>
            <% }) %>
        </div>
	</a>
</article>
