<section class="home-hero">
    <div class="wrapper">
        <h1 class="name">Zoe Aubert</h1>
        <p class="intro">Software Developer from Jersey, living and working in Portsmouth</p>
        <p class="intro">Doing interesting things at <a href="https://radweb.co.uk" target="_blank">RadWeb</a></p>
    </div>
    <%- partial('partials/social-links') %>

</section>
<section class="home-blog home-section">
    <h2 class="header">Posts</h2>
    <% site.categories.findOne({ name: 'post' }).posts.sort('date', -1).each((post) => { %>
    <article class="post">
        <a class="wrapper" href='<%- url_for(post.path) %>'>
            <div class="top">
                <h3 class="title"><%= post.title %></h3>
                <p class="date"><%= date(post.date, config.date_format) %></p>
            </div>
            <% if (post.excerpt) { %>
            <div class="excerpt">
                <%- post.excerpt %><%- post.excerpt.endsWith('.') ? '..' : '...' %>
            </div>
            <% } %>
        </a>
    </article>
    <% }) %>
</section>
