<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name="keywords" content="zoe, aubert, geeky, aubergine, geekyaubergine, university, portsmouth, developer, software, web, ui, ux, design" />
    <meta name="author" content="Zoe Aubert" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@geekyaubergine" />

    <% if (page.title) { %>
    <title><%= page.title %> | Zoe Aubert</title>
    <meta name="twitter:title" content="<%= page.title %>"/>
    <% } else { %>
    <title>Zoe Aubert</title>
    <meta name="twitter:title" content="Zoe Aubert" />
    <% } %>

    <%- open_graph(['twitter_card']) %>

    <%- css('css/app.css') %>
</head>
<body>
    <nav class="nav">
        <div class="wrapper">
            <h2 class="name"><a href="/">Zoe Aubert</a></h2>
            <%- partial('partials/social-links') %>
        </div>
    </nav>
    <%- body %>
</body>
</html>
